@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

a {
  text-decoration: none;
  color: whitesmoke;
}

h1, h2, h3, h4, p {
  color: whitesmoke;
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-size: 1.75rem;
}

.paragraph {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.splash {
  z-index: -1;
  text-align: center;
  padding-top: 5rem;
  justify-content: center;
  background-color: #111111;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%232899ab' fill-opacity='0.47'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  background-size: 75px;
  transform: translateZ(-1px) scale(1);
}

.neon {
  font-family: neon;
  color: #FB4264;
  font-size: 8rem;
  text-shadow: 0 0 3vw #F40A35;
}

.flux {
  font-family: neon;
  color: #426DFB;
  font-size: 8rem;
  text-shadow: 0 0 3vw #2356FF;
}

.neon {
  animation: neon 2s ease infinite;
  -moz-animation: neon 2s ease infinite;
  -webkit-animation: neon 2s ease infinite;
}

.flux {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

.background-white {
  background-color: whitesmoke;
}

.background {
  background-color: #1F1F1F;
  margin: auto;
}

.bold {
  font-weight: bold;
}

.lighter {
  font-weight: lighter;
  color: rgb(228, 228, 228)
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.center-text {
  justify-content: center;
  align-items: center;
  display: flex;
}

.center-text:visited {
  color: white;
  text-decoration: none;
}

.align-center {
  justify-content: center;
  align-items: center;
  margin: auto;
}

.tag-container {
  width: 85%;
  margin: auto;
  padding: 3rem 0 3rem 0;
  font-family: 'Playfair Display', serif;
  font-size: 1.75rem;
  text-shadow: 3px 3px black;
  font-weight: bolder;
  transition: .4s;
}

.big-image-grid {
  height: 675px;
  width: 675px;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  transition: .4s;
}

.big-image-grid:hover {
  box-shadow: inset 0 0 0 2000px rgba(39, 39, 39, 0.25);
}

.small-image-grid {
  height: 250px;
  width: 250px;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  transition: .4s;
}

.small-image-grid:hover {
  box-shadow: inset 0 0 0 2000px rgba(39, 39, 39, 0.25);
}

/*Inset Colors*/

.inset-red {
  box-shadow: inset 0 0 0 2000px rgba(124, 0, 0, 0.45);
}

.inset-blue {
  box-shadow: inset 0 0 0 2000px rgba(0, 12, 124, 0.45);
}

.inset-green {
  box-shadow: inset 0 0 0 2000px rgba(2, 75, 2, 0.45);
}

.inset-yellow {
  box-shadow: inset 0 0 0 2000px rgba(124, 122, 0, 0.45);
}

.inset-orange {
  box-shadow: inset 0 0 0 2000px rgba(124, 29, 0, 0.45);
}

.inset-purple {
  box-shadow: inset 0 0 0 2000px rgba(68, 0, 124, 0.45);
}

/*Tag Image URL*/

.alt {
  background-image: url('./Images/alt.jpg');
  background-position: center;
  background-size: cover;
}

.blues {
  background-image: url('./Images/blues.jpg');
  background-position: center;
  background-size: cover;
}

.country {
  background-image: url('./Images/country.jpg');
  background-position: center;
  background-size: cover;
}

.electronic {
  background-image: url('./Images/electronic.jpg');
  background-position: center;
  background-size: cover;
}

.hip-hop {
  background-image: url('./Images/hip-hop.jpg');
  background-position: center;
  background-size: cover;
}

.indie {
  background-image: url('./Images/indie.jpg');
  background-position: center;
  background-size: cover;
}

.jazz {
  background-image: url('./Images/jazz.jpg');
  background-position: center;
  background-size: cover;
}

.punk {
  background-image: url('./Images/punk.jpg');
  background-position: center;
  background-size: cover;
}

.rnb {
  background-image: url('./Images/rnb.jpg');
  background-position: center;
  background-size: cover;
}

.rock {
  background-image: url('./Images/rock.jpg');
  background-position: center;
  background-size: cover;
}

/*Tag Image End*/

.row-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.row-three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.row-four {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 1.5rem
}

.artist-image-bio {
  max-width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
  border-radius: 3px;
}
.artist-info{
  margin: 10% 0 0 5%;
  width:55%;
}

.blank-artist-image {
  height: auto;
  width: 400px;
}

.album-carousel-image {
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  padding: 0.5rem;
  height:auto;
  max-width: 100%;
}

.carousel {
  background-color: #2e2e2e50;
  text-align: center;
  border-radius: 2px;
  padding-top: 2rem;
}

.album-image-grid {
  height: 450px;
  width: auto;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  background-color: rgba(255, 255, 255, 0.041);
  padding: 1rem;
}

.similar-artist-text, .search-link {
  color: whitesmoke;
  font-family: 'Raleway', sans-serif;
  transition: .2s;
}

.similar-artist-text:hover, .search-link:hover {
  background-color: aliceblue;
  color: black;
}

.heading {
  padding: 3rem 0 3rem 0;
  font-weight: bold;
  font-size: 3rem;
}

.tag-page-container{
  width:85%;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}
.tag-page-image{
  height:auto;
  max-width: 100%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.192);
  border-radius: 2px;
}


@keyframes neon {
  0%, 100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

@keyframes flux {
  0%, 100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}

@media only screen and (max-width: 3840px) {
  .discover-tag-container {
    width: 47.5%;
    margin:auto;
  }
  .tag-page-container{
    width:75%;
    height:60vh;
  }
  .album-carousel-image {
    height:500px;
    width:auto;
  }
}

@media only screen and (max-width: 2560px) {
  .discover-tag-container {
    width: 65%;
  }
  .album-carousel-image {
    height:475px;
    width:auto;
  }
  .artist-info{
    margin: 10% 0 0 5%;
    width:65%;
  }
}


@media only screen and (max-width: 1920px) {
  .discover-tag-container {
    width: 85%;
  }
  .tag-page-container{
    width:85%;
    height:auto;
    margin-top: 2.75%;
  }
  .album-carousel-image {
    height:375px;
    width:auto;
  }
  .artist-info{
    width:85%;
    margin:auto;
  }
}

@media only screen and (max-width: 1600px) {
  .big-image-grid {
    margin-bottom: 1rem;
  }
  .row-three {
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
  }
  .row-two {
    grid-template-columns: repeat(1, 1fr);
  }
  .album-carousel-image {
    height:auto;
    width:auto;
  }
}

@media only screen and (max-width: 1100px) {
  .big-image-grid {
    height: 375px;
    width: 375px;
  }
  .small-image-grid {
    height: 175px;
    width: 175px;
  }
  .row-four {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 750px) {
  .big-image-grid {
    height: 300px;
    width: 300px;
  }
  .small-image-grid {
    height: 150px;
    width: 150px;
  }
  .row-four {
    grid-template-columns: repeat(2, 1fr);
  }
  .album-image-grid {
    height: 400px;
  }
}

@media only screen and (max-width: 600px) {
  .row-four {
    grid-template-columns: repeat(1, 1fr);
  }
  .neon {
    font-size: 6rem;
  }
  .flux {
    font-size: 6rem;
  }
  .heading {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 414px) {
  .big-image-grid {
    height: 250px;
    width: 250px;
  }
  .small-image-grid {
    height: 150px;
    width: 150px;
  }
  .tag-container {
    font-size: 1rem;
  }
  .row-three {
    grid-template-columns: repeat(2, 1fr);
  }
  .album-image-grid {
    height: 300px;
  }
}

@media only screen and (max-width: 320px) {
  .big-image-grid {
    height: 225px;
    width: 225px;
  }
  .small-image-grid {
    height: 125px;
    width: 125px;
  }
}